<h1>Advertisements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>User</th>
      <th>Time Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <td><%= advertisement.description %></td>
        <td><%= advertisement.price %></td>
        <td><%= advertisement.user.name %></td>
        <td><%= advertisement.created_at.strftime("%b %-d %l:%M%P %Z") %></td>
        <td><%= link_to 'View', advertisement %></td>
        <% if advertisement.user == current_user %>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'New Advertisement', new_advertisement_path, { class: "button" } %>
<% end %>
